@import url(https://fonts.googleapis.com/css?family=Average+Sans);

#center {
   width: 300px;
   height: 160px;
   position: absolute;
   left: 50%;
   top: 0%; 
   margin-left: -150px;
   margin-top: 0px;
  text-align: center;
}
#top {
  position: relative;
  width: 100%;
  height: 50px;

}
#orange {
  border-radius: 1px;
  position: relative;
  top: 30%;
  left: 50%;
  margin-left:-20px;
  width: 30px;
  height: 30px;
  background: #FA5D16;
}
#orange img {
  width: 40px;
}
#notification {
  position: relative;
  left: 155px;
  top: -20px;
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 25px;
  height: 25px;
  background: #E93B19;
}
#bottom {
  position: relative;
  width: 100%;
  height: 150px;
}
#triangle-line {
  width: 100%;
  height: 20px;
}
#tri {
  position: relative;
  left: 140px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent rgba(121, 106, 77, 0.8) transparent;
}
#nots {
  line-height: 25px;
  width: 100%;
  height: 25px;
  background: rgba(121, 106, 77, 0.8);
  border-bottom: 1px solid rgba(89, 81, 68, 1);
}
#info {
  line-height: 25px;
  width: 100%;
  height: 25px;
  background: rgba(121, 106, 77, 0.8);
  border-bottom: 2px solid rgba(89, 81, 68, 1);
}
#feet {
  width: 100%;
  height: 35px;
  background: rgba(89, 81, 68, 0.9);
}
  tr.bg-dim {
    background-color: #dcdcd3c7 !important;
    color: #fff;  
  }
  tr.bg-highlight{

    background-color: #fff !important;
  }
.help-block strong {
    color: red;
}
