/* CSS Document */


/* 
*
*
[Table of contents]
*
*
*

    font-luxury / @import url
	reset / html
	general / body
	space / .space-single
	button / button
	devider / .devider-home
	section / section
	no select / .noselect
	wrapper / .content-wrapper
	whitepage / .whitepage
	preloader / .preloader
	sub navigation / .subnav
	navigation / header
	subheader / #subheader
	home / #home
	background img luxury / .mainbg
	subscribe / .subscribe-section
	about / #about-us-1
	recent post / .recent-post 
	step page / .step-page
	service / .services img
	room / #room-wrap
	team / #owl-team
	form reservation and mail / #reservation
	address / .wrapaddres
	footer / .subfooter
	social-icons / .social-icons
	totop / #totop
	Blog & article / #content
	Blog comment / #blog-comment
	owl slider home / #owl-slider-home
	general popup / .white-popup-block
	
*
*
*/


/* font-luxury */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
.btn-danger, .btn-danger.disabled {
    background: #ff4d7e;
    border: 1px solid #ff4d7e;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.img-full{

  width: 100%;
}
.modal{
  top: 90px;
  left: 15px;
}
#entry_time{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
/* reset */
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, button, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

/** general **/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 1.8em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  overflow-x: hidden;
  color:#333;
  background: #EDF1F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
h1 {
  font-size: 34pt;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 30pt;
  font-weight: 400;
  line-height: normal;
}
h3 {
  font-size: 24pt;
  font-weight: 400;
  line-height: normal;
}
h4 {
  font-size: 18pt;
  font-weight: 500;
}
h5 {
  font-size: 14pt;
  font-weight: 500;
}
h6 {
  font-size: 12pt;
  font-weight: 500;
}
p {
  font-size: 13px;
}
a, a:visited, a:hover, a:active, a:link {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link-class {
  display: block;
  text-decoration: none;
}

/* space */
.space-single {
  width: 100%;
  height: 40px;
  display: block;
  clear: both;
}
.space-double {
  width: 100%;
  height: 80px;
  display: block;
  clear: both;
}
.space-half {
  width: 100%;
  height: 20px;
  display: block;
  clear: both;
}
hr {
  display: block;
  clear: both;
  border-top: solid 1px #ddd;
  margin: 40px 0 40px 0;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.left {
  text-align: left;
  float: left;
  line-height: inherit;
}
.right {
  text-align: right;
  float: right;
  line-height: inherit;
}
.color {
  color: #3ab0ff;
}
.min-left {
  margin-left: -15px;
}
.min-right {
  margin-right: -15px;
}

/* button */
button {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover {
  border: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-home {
  display: inline-block;
  width: 198px;
  height: 40px;
  font-size: 13pt;
  font-weight: 500;
  letter-spacing: 1pt;
  font-style: normal;
  text-align: center;
  line-height: 38px;
  color: #333333;
  border: 1px solid #333333;
  background: rgba(23, 36, 52, 0);
  outline: none;
  text-shadow: none;
  margin: 5px auto;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-content {
  display: block;
  width: 210px;
  height: 40px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 40px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  background: #3bb0ff;
  outline: none;
  text-shadow: none;
  margin: 0 auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-content a, .btn-content a:hover{background: rgba(0,0,0,0)!important;}
.btn-home:hover, .btn-content:hover, .btn-content a:hover {
  background: #ffc128;
  /*border: 1px solid rgba(255, 255, 255, 0);*/
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-home-active {
  border: none;
  background: #111;
  display: inline-block;
  width: 198px;
  height: 40px;
/*  margin: 0 auto;*/
  font-size: 10pt;
  letter-spacing: 1pt;
  font-style: normal;
  text-align: center;
  line-height: 49px;
  color: #efefef;
  outline: none;
  text-shadow: none;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
}
.btn-home-active:hover {
  color: #efefef;
  background: rgba(23, 36, 52, 0.8);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* devider */
.devider-home {
  display: block;
  border-top: 7px solid #3ab0ff;
  width: 79px;
  margin: 20px auto;
  text-align: center;
}
.devider-cont {
  display: block;
  border-top: 3px solid #3ab0ff;
  width: 78px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.devider-center {
  display: block;
  border-top: 4px solid #3ab0ff;
  width: 87px;
  margin: 10px auto;
  text-align: center;
}
.devider-footer {
  display: block;
  border-bottom: 1px solid #3ab0ff;
  width: 240px;
  margin: 10px auto;
  text-align: center;
}
.devider-right {
  display: block;
  border-right: 1px solid #333333;
  height: 70px;
  margin: 0 auto;
  margin-left: 100px;
}
.devider-page {
  display: block;
  width: 30%;
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin: 20px auto 10px auto;
}
.devider-img-right {
  display: block;
  margin: -3px auto;
  width: 63px;
  height: 5px;
  background: #3ab0ff;
}
.devider-img-left {
  display: block;
  position: absolute;
  width: 73px;
  height: 5px;
  top: 28px;
  left: 50px;
  background: url(../img/devider.html) no-repeat;
}

/* section */
section {
  padding: 80px 0 80px 0;
}
.no-bottom {
  padding-bottom: 0 !important;
}
.no-top {
  padding-top: 0 !important;
}
.no-padding, section.no-padding {
  padding: 0;
}
.p-30{ padding:30px;}
.p-60{ padding:60px;}
.p-90{ padding:90px;}
.sp-padding{
	padding:60px 0 60px 0;
}
/* no select */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* wrapper */
.content-wrapper {
  overflow-x: hidden;
}
.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* whitepage */
.whitepage {
  width: 100%;
  height: auto;
  color:#333;
  /*background: #fff;*/
}

.whitepage h1 {
  font-weight: 500;
  text-transform: none;
  letter-spacing: 2px;
}
.whitepage h2 {
  font-size: 22px;
  font-weight: 500;
  text-transform: none;
}
.whitepage h3 {
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
}
.whitepage h4 {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.whitepage em {
  display: block;
  font-style: italic;
  margin-bottom: 20px;
}
.whitepage article {
  padding: 0px 60px 0 0;
}
.bgpage{
	width: 100%;
	overflow:hidden;
	background: url(../img/bg-1.jpg)no-repeat center center fixed;
	background-attachment: scroll;
}

/* content column */
.col-content {
  position: relative;
  width: 100%;
  height: auto;
  color: #606060;
  
}
.col-content h1, .col-content h2, .col-content h3, .col-content h4, .col-content h5, .col-content h6 {
  color: #111;
  margin-bottom:30px;
  font-weight:500;
}
 .col-content h3 {
  font-size: 23pt;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
 }
.col-content p {
  color: #333;
  font-weight:300;
  line-height: 2em;
  letter-spacing:.4px;
  margin-bottom:15px;
  margin-top:15px;
}
.col-content {
  color: #555;
  font-weight:400;
  line-height: 2em;
  letter-spacing:.4px;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0d0d0d;
}
.preloader-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}
.mainpreloader {
  position: relative;
  animation: rotate 1s infinite linear;
  border: 3px solid #ebebeb;
  width: 40px;
  height: 40px;
  margin-right: -24px;
  border-radius: 999px;
}
.mainpreloader span {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top: 3px solid #3ab0ff;
  top: -3px;
  left: -3px;
  border-radius: 999px;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo-preloader {
  animation: fadeimg 1s infinite linear;
}
@-webkit-keyframes fadeimg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeimg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.bg-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0d0d0d;
  z-index: 999;
}
.bg-preloader-white {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fefefe;
  z-index: 999;
}
/* end preloader */


/* subnav */
.subnav {
  display: block;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  font-size: 11px;
  font-weight:300;
  letter-spacing:.3px;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  padding: 20px 0 6px 0;
}
.social-icons-subnav div{ display:inline-block;}
.right .social-icons-subnav{ margin-right:0px;}
.social-icons-subnav span, .social-icons-subnav i {
  text-shadow: none;
  padding: 8px;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #fff;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav span:hover {
  color: #ffc128;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav a:hover {
  color: #999;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


/******************** navigation *******************/
header{position:fixed; z-index:9999;}
header.init{
	width:100%;
	height:120px;
	background: rgba(255, 255, 255, 0)!important;
	-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
	}
header.show{
	height:80px;
	background: rgba(255, 255, 255, 1)!important;
	box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
	-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
	}
.navbar-default-white {
  position:fixed;
  margin: 40px auto;
  top:0px;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .0);
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  z-index:9999;
}
.navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  height:80px;
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white.fullHeight {
  height: 100%!important;
}
.navbar-brand.white {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.navbar-brand.white img {
  width:auto;
  height:auto;
  max-height: 44px!important;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.navbar-brand.white img.black { display:none; }
.navbar-default-white.sticky{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: inherit;
	box-sizing: border-box;
	/*background: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);*/
	 -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
     -moz-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
}

.navbar-default-white.sticky .white nav a {
  color: #707070;
}

/* menu nav */
.white nav {
  position: relative;
  float:right;
  margin-right:18px;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.white nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.white nav ul li {
  display: inline-block;
  margin: 0;
  margin-right:-4px;
}
.white nav ul li .input-group {
  top:15px;
  margin-left:20px;
  width:220px;
}
.white nav ul li .input-group button{
	display:inherit;
	padding: 0;
	line-height: 0px;
	border:none;
}
.white nav ul li .input-group i{ margin-left:0px; }

.white nav a {
  display: block;
  padding: 10px 0px 10px 20px;
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 60px;
  text-decoration: none;
}
.white nav a:hover {
  color: #ccc !important;
  /*background:#fff!important;*/
}
.white nav a:hover::before {
  display: inline-block;
  position: absolute;
  max-width: 35px;
  color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.white nav a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}
.white nav a.actived {
  color: #ccc!important;
  /*background:#fff;*/
}
.white nav ul ul {
  display: none;
  position: absolute;
  top: 80px;
  color: #efefef;
}
.white nav ul li:hover>ul {
  display: inherit;
  -webkit-animation-name: animfadeInUpmenu;
  animation-name: animfadeInUpmenu;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.white nav ul ul li {
  width: 230px;
  float: none;
  display: list-item;
  background: #fff;
  border-bottom: 1px groove rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
  position: relative;
}

.white nav ul li i { margin-left:10px;}
.white nav ul ul li a {
  color: #707070;	
  font-size: 8pt;
  line-height: 20px;
  padding-left: 17px;
}
.white nav ul ul li a:hover {
  color: #fff!important;
  background: #ffc128;
}
.white nav ul ul li a.active {
  color: #fff;
  background: #3ab0ff;
}
.white nav ul ul li:last-child {
  border-bottom: none;
}
.white nav ul ul ul li {
  position: relative;
  top: -75px;
  left: 230px;
}
.white.event nav ul ul li {

  width: 130px;
}
.white.event ul>li ul li a {
    padding: 5px 0 0 30px;
}
li>a:after {
  content: '';
  margin-left: 20px;
}
li>a:only-child:after {
  content: '';
}

li a.btn-book-menu {
  display: block;
  width: 140px;
  height: 36px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center!important;
  letter-spacing:1px;
  line-height: 27px;
  color: #fff!important;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #ffc128; 
  outline: none;
  text-shadow: none;
  padding:4px 0 4px 20px;
  margin:0 0 0 15px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
li a.btn-book-menu:hover {
  color: #fff!important;
  background: #ffd928; 
  border: 1px solid rgba(255, 255, 255, 0);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/******************** navigation end *******************/

/* end menu nav */


/* subheader */
#subheader {
  padding: 160px 0 110px 0;
  background: #222;
  /*background: url(../img/bg-subheader.jpg)top fixed;*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height:450px;
}
#subheader h1 {
  color: #fefefe;
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#subheader span {
  letter-spacing: 2px;
  display: inline-block;
  font-size: 15px;
  margin-top: 88px;
  color: #fff;
}
#subheader .subdetail {
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  color: #777;
}
#subheader .subdetail li {
  display: inline-block;
  color: #fff;
}
#subheader .subdetail li a {
  color: #3ab0ff;
}
#subheader .subdetail li.sep {
  margin-right: 20px;
}
/* subheader end */

/* home */
#home {
  color: #fff;
  text-align: center;
}
#home h1 {
  font-size: 44pt;
  letter-spacing: 2px;
}
#home h3 {
  font-size: 40pt;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
}
#home p.content {
  font-size: 14pt;
  font-weight: 300;
  letter-spacing:2px;
  max-width: 650px;
  margin: 15px auto;
}
/* Advacned Search box */
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/* ASB Ends */
#slidertext{ margin-bottom:30px;}
.star-content{ 
  font-size: 21pt;
  font-weight: 400;
  margin-bottom:30px;
  letter-spacing:2px;
  line-height: 25pt;
  }
  .star-content i { color:#ffb600;}
.bot-home {
  position:relative;
  width: 100%;
  height: auto;
  padding: 10px 0 0 0;
  margin-top:-200px;
  margin-bottom:-100px;
  text-align: center;
  z-index:999;
}
.bot-home-text {
  position:absolute;
  width: 100%;
  height: auto;
  top:53%;
  padding: 20px 0 20px 0;
  text-align: center;
}
#spacer {
  display: block;
}
.bot-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 0;
  text-align: center;
}

/* gallery home */
.gal-home {
  position: relative;
  letter-spacing: 1pt;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0);
}
.gal-home:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.gal-home img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.gal-home .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.gal-home .hovereffect .overlay {
  width: 90%;
  height: 90%;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
  margin: 5%;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gal-home .hovereffect:hover .overlay {
  bottom: -2.5%;
  left: 0;
  opacity: 1;
}
.gal-home .hovereffect .overlay h3 {
  font-size: 11pt!important;
  font-weight: 500!important;
  letter-spacing: 1px;
  padding: 25% 0 0 0;
}
.gal-home .hovereffect .overlay p {
  font-size: 9pt!important;
  font-weight: 300;
  line-height: 12pt;
  letter-spacing: 1px;
  margin: 0 auto!important;
}
.gal-home .hovereffect .overlay .devider {
  display: block;
  margin: 10px auto;
  width: 188px;
  border-top: 1px solid #3ab0ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gal-home .hovereffect:hover .overlay .devider {
  display: block;
  margin: 10px auto;
  width: 138px;
  border-top: 1px solid #3ab0ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* gallery home end */

.overlay-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
}

.overlay-main-paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* background img luxury */
.mainbg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background: url(../img/bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainbg-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background: url(../img/bg-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainbg-paralax {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.imgbg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.imgbgres {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainbgvideo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.bgslider-owl {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
/*  background: #fff;*/
  overflow:hidden;
}
.bgslider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: #535353;
}
.bgslider img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

/* background video  */
.bgvideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50px;
  left: 0;
  background: #efefef;
}
.video {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.8;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* home end */

/*recent post */
.recent-post {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 394px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.recent-post .hovereffect {
  width: 100%;
  height:100%;
  float: left;
  position: relative;
  text-align:left;
  cursor: pointer;
}
.recent-post .hovereffect .overlay {
  width: 100%;
  height:100%;
  position: absolute;
  color:#fff;
  white-space: nowrap;
  overflow:hidden;
  background-color: rgba(0, 0, 0, .2);
  bottom: 0;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recent-post .hovereffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.recent-post .overlay .content{
white-space: nowrap;
margin: 70% 20px 0 20px;
}
.recent-post .overlay .content .heading{
	font-size:22px;
	font-weight:500;
	}
	.recent-post .overlay .content .subheading{
	font-size:16px;
	}
	.recent-post .overlay .content .readmore{
	font-size:13px;
	font-weight:400;
	line-height:100px;
	}
	.recent-post .overlay .content .readmore i{font-weight:600;}
.devider-recent {
  display: block;
  border-top: 3px solid rgba(255,255,255,.6);
  width: 102px;
  margin: 10px 0 0 0;
  margin-bottom: 10px;
  text-align:left;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.recent-post .hovereffect:hover .devider-recent {
   width: 150px;	
   border-top: 3px solid #3ab0ff;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#owl-post .item {
  margin: 5px;
  text-align:left;
}
/* recent post end */


/* about */
#about-us-1{height:100%;}
#about-us-2{height:100%;}
#about-us-1 .image-container{background:url(../img/bg-about.jpg);}
#about-us-2 .image-container{background:url(../img/bg-about-1.jpg);}
.image-container{
	position:relative;
	padding:0;
	margin:0 !important;
	background-size:cover !important;
}
#service-about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.service-about {
  position: relative;
  display: inline-block;
  font-size: 9pt;
  font-weight: 400;
  letter-spacing: 1pt;
  text-transform: uppercase;
  width: 325px;
  height: 280px;
  margin: 0 10px auto;
}
.service-about h2 {
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: normal;
  margin-top: 20px;
}
.service-about img {
  width: 100%;
  vertical-align: top;
}
.service-about .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.service-about .hovereffect .overlay {
  width: 100%;
  height: 2%;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: rgba(255, 204, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.service-about .hovereffect:hover .overlay {
  background-color: rgba(255, 204, 0, 1);
}

.about {
  display: block;
  min-height:500px;
  height:100%;
  padding: 15% 0 15% 0;
}
.about article{ padding-right:60px;}
.img-about {
  display: block;
  min-height:500px;
  height:100%;
  padding: 15% 0 15% 0;
  background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.about-history{
  display: block;
}
.about-history article{ margin-bottom:40px;}

/* resume timeline */
.bl-res-centered, .bl-res-centered-last {
    position: relative;
    margin-bottom: 5px;
	padding-bottom:100px;
	margin-left:-18px;
}

.bl-res-centered-last {
	padding-bottom:0px;
}

.bl-res-centered:before, .bl-res-centered:after {
        content: "";
        display: table;
}

.bl-res-centered-last:before, .bl-res-centered-last:after {
        content: "";
        display: table;
}

.bl-res-centered:after {
        clear: both;
}
.bl-res-centered-last:after {
        clear: both;
}

.bl-res-centered:before, .bl-res-centered:after {
        content: "";
        display: table;
}
.bl-res-centered-last:before, .bl-res-centered-last:after {
        content: "";
        display: table;
}

.bl-res-centered:after {
        clear: both;
}
.bl-res-centered-last:after {
        clear: both;
}

.bl-res-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
		height:100%;
        background: rgba(0,0,0,.1);
        top: 8px;
        bottom: 0px;
        margin-left: 5px;
		z-index:0;
}
.bl-res-centered-last:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
		height:0;
        background: rgba(0,0,0,.1);
        top: 8px;
        bottom: 0px;
        margin-left: 3px;
		z-index:0;
}
.bl-res-icon {
                background: #3ab0ff;
                display: block;
				position:relative;
                width: 12px;
                height: 12px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                line-height: 40px;
                font-size: 15px;
                float: left;
				z-index:9;
}

.bl-res-centered .bl-res-entry .bl-res-entry-inner .bl-res-label, .bl-res-centered-last .bl-res-entry .bl-res-entry-inner .bl-res-label {
                position: relative;
                margin-left: 30px;
}

.bl-res-label h6{ font-size:14pt; font-weight:500; color:#111; margin-bottom:15px; margin-bottom:10px;}
.bl-res-label p{ font-style:italic; margin-bottom:10px;}
/* resume timeline end */

/* about end */


/* step page */
.step-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 90px 15px 90px 0;
  overflow-x: hidden;
  background: url(../img/step-bg.jpg)top fixed;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.step-page h2 {
  text-transform: none;
  font-weight: 500;
}
.step-mains {
  margin: 3em 0 0;
}
.step-main a {
  position: relative;
  font-size: 13pt;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #ffb600;
  display: block;
  margin: 0 auto;
  padding: 80px 0 80px 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 999;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.step-main a:hover {
  background: #333333;
  padding: 85px 0 85px 0;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.step-main a.active {
  background: #333333;
  padding: 85px 0 85px 0;
}
.step-main {
  position: relative;
}
.step-main:after {
  content: '';
  background: #DBDBDB;
  height: 1px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 0;
}
.step-main:last-child:after {
  width: 0px;
  height: 0px;
}
#step-text .cont {
  margin: 0 auto;
  margin-top:30px;
}
/* step page end */


/* service */
.filter-wraper {
  position: relative;
}
#filters li.filt-serv {
  font-size: 10.3pt;
  color: #333333;
  letter-spacing: normal;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filters li.filt-serv:hover {
  color: #3ab0ff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#filters li.selected {
  color: #3ab0ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}
.service img {
  margin-bottom: 20px;
}
.service h4 {
  font-size: 11pt;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* service end */


/* services */
.services img {
  margin-bottom: 30px;
}
.services h2 {
  font-size:16pt;
  font-weight: 500;
  margin-bottom: 15px;
}
.services blockquote {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  color: #333;
  background: #f8f8f8;
  padding: 30px;
  margin: 30px 0 30px 0;
  border-left: 5px solid #3ab0ff;
}

/* btn services */
#services-list li {
  background: #f8f8f8;
  color: #606060;
  margin-bottom: 2px;
  cursor: pointer;
}
#services-list li:hover {
  background: #333333;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#services-list li a {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 20px;
}
#services-list li.active {
  background: #333333;
  color: #fff;
}
.widget .download-brochure {
  background: url(../img/bg-widget.jpg) no-repeat;
  background-size: cover;
  padding: 60px 15px 60px 15px;
  text-align: center;
}
.download-brochure h3 {
  font-size: 11pt;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.btn-download {
  display: block;
  width: 188px;
  height: 35px;
  font-size: 9pt;
  font-weight: 500;
  text-align: center;
  line-height: 34px;
  letter-spacing: 1px;
  color: #fff;
  background: #3ab0ff;
  outline: none;
  text-shadow: none;
  margin: 0 auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-download:hover {
  color: #333;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* services end */

/* room  */
.room {
position:relative;
width:100%;
height:100%;
border:1px solid #e8e8e8;
margin-bottom:60px;
padding: 5% 5% 20px 5%;
}
.room img{
	width:100%;
	height:100%;
	margin-bottom: 30px;
}
.room .heading{
 font-size:16pt;
 font-weight: 500;
 padding: 0 0 20px 0;
}
.devider-rooms {
  display: block;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.room .price{
 font-size:44pt;
 color:#ffb600;
 font-weight: 600;
 line-height:60pt;
}
.room .price sub{ 
font-size:12pt;
font-weight:400;
}
.room .content{
 margin-bottom: 30px;
}
.btn-book {
  display: block;
  width: 210px;
  height: 50px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 50px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff;
  margin-bottom: 30px;
  outline: none;
  text-shadow: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-book:hover {
  background: #ffc128;
  border: 1px solid rgba(255, 255, 255, 0);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* room end */

/* room home */
.with-gutter {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.with-gutter [class*='col-']:not(:first-child), .with-gutter [class*='col-']:not(:last-child) {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.projects-home {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 330px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projects-home .hovereffect {
  width: 100%;
  height:100%;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.projects-home .hovereffect .overlay {
  width: 100%;
  height:100%;
  position: absolute;
  color:#fff;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, .2);
  top: 0;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.projects-home .hovereffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.overlay .content{
white-space: nowrap;
}
.overlay .content .heading{
	font-size:22px;
	font-weight:500;
	}
	.overlay .content .subheading{
	font-size:16px;
	}
.devider-projects {
  display: block;
  border-top: 4px solid #3ab0ff;
  width: 67px;
  margin: 10px auto;
  margin-bottom: 10px;
  text-align: center;
}
/* room home end */

/* projects */
.wrap-news {
  position: relative;
  padding: 20px 0 0 0;
  text-align: left;
  overflow: hidden;
}
.wrap-news h3 {
  display: block;
  font-size: 13pt;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}
.wrap-news p {
  display: block;
}
.wrap-news a {
  display: block;
  font-size: 9pt;
  margin: 10px 0 10px 0;
}
.wrap-news a span.devider {
  display: block;
  border-top: 1px solid #3ab0ff;
  width: 38px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrap-news a:hover span.devider {
  width: 58px;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.no-gutter [class*='col-']:not(:first-child), .no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#projects-wrap {
  text-align: center;
  overflow: hidden;
}
.projects {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
  border: 0px solid rgba(0, 0, 0, 0);
}
.projects-grid {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0);
}
.projects:hover img, .projects-grid:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.projects img, .projects-grid img  {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.projects .hovereffect, .projects-grid .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.projects .hovereffect .overlay, .projects-grid .hovereffect .overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -30px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects .hovereffect:hover .overlay, .projects-grid .hovereffect:hover .overlay {
  height: 100%;
  top: 0;
  opacity: 1;
  top: 0;
}
.projects .hovereffect .overlay div, .projects-grid .hovereffect .overlay div{
  font-size: 24pt;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgba(255,255,255,.9);
  padding-top: 28%;
  height: 100%;
  background-color: rgba(59, 176, 255, .3);
}

/* filter controls */
#filter-porto {
  padding: 60px 0 30px 0;
  margin: 10px auto;
}
#filter-porto li.filt-projects {
  font-size: 8pt;
  font-weight: 500;
  color: #fff;
  background:#3bb0ff;
  padding:4px 15px 4px 15px;
  margin: 10px 10px 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#filter-porto li.filt-projects:hover {
  background:#ffb600;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#filter-porto li.selected {
  background:#ffb600;	
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

/******* projects detail 1 ******/
.room-detail h2 {
  font-size:16pt;
  font-weight: 500;
  margin-bottom: 15px; 
}

.detaillist{
	display:block;
	padding:10% 5% 10% 5%;
	border:1px solid #e8e8e8;
	}
	.detaillist span{ display:block; letter-spacing:.01em; line-height:24pt;}
	.detaillist i{ color:#ffb600; margin-right:5px;}
	
	.detaillist .price{
	width:111%;
    font-size:44pt;
	text-align:center;
    font-weight:600;
    color:#ffb600;
	padding:10% 0 5% 0;
	margin-top:30px;
	margin-left:-5%;
    }
	.detaillist .price sub{ 
    font-size:12pt;
    font-weight:400;
    }
	
  .devider-rooms-detail {
  display: block;
  border-top: 1px solid #d9d9d9;
  width: 80%;
  text-align: center;
  margin-bottom: 15px;
}

#detailpro .item img{
        display: block;
        width: 100%;
        height: auto;
		margin-bottom:20px;
    }
	#owl-project .item {
     display: block;
     padding: 0px;
     margin: 0 auto;
     text-align: center;
    }
	
/******* projects detail 2 ******/
#roomsBig .item{
	margin:0;
	padding:0;
}
#roomsSmall .item{
    cursor: pointer;
	position:relative;
	margin-top:10px;
	margin-bottom:30px;
}
#roomsSmall .item img{ width:auto; height:115px; display:block; position:relative; margin-right:5px; }

#roomsSmall .synced .item{
	opacity:0.5;
}
/* button next prev */
.pro-btn{ 
padding:10px 0 10px 0;
margin:10px 0 10px 0;
text-align:center;  
background:#ccc; 
color:#fff;
cursor:pointer;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.2s ease;
}
.pro-btn:hover{
	background:#999; 
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}

.btn-book-2 {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:2px;
  line-height: 48px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff; 
  outline: none;
  text-shadow: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.btn-book-2 { color:#fff; }
.btn-book-2:hover {
  background: #ffc128;
  border: 1px solid rgba(255, 255, 255, 0);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* room end */


/* counter */
.milestone-counter {
  color: #333333;
  text-align: center;
  margin: 0 auto;
}
.milestone-counter .icon {
  font-size: 48px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.highlight {
  padding: 10px 0;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 48px;
}
.milestone-details {
  font-weight: bold;
  font-size: 18px;
}
/* counter end */


/* testimony page */
.testi-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 90px 0 90px 0;
  overflow-x: hidden;
  background: url(../img/testi-bg.html)top fixed;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
#owl-testimonial .item {
  padding: 30px 0px;
  margin: 10px auto;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#owl-testimonial h3 {
  font-size: 24pt;
  font-weight: 500;
}
#owl-testimonial p {
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20pt;
  padding: 2px 20% 2px 20%;
}
#owl-testimonial small {
  font-size: 10pt;
  font-weight: 500;
  color: #fff;
}
/* testimony page end */


/* team */
#owl-team .item {
  margin: 5px;
  text-align:left;
}

.team {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.team .hovereffect {
  width: 100%;
  height:100%;
  float: left;
  position: relative;
  text-align:left;
  overflow:hidden;
  cursor: pointer;
}
.team .hovereffect .overlay {
  width: 100%;
  height:30%;
  position: absolute;
  color:#fff;
  white-space: nowrap;
  background-color: rgba(58, 176, 255, .8);
  bottom: -50%;
  left: 0;
  opacity: 1;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.team .hovereffect:hover .overlay {
  bottom: 0;	
  background-color: rgba(58, 176, 255, .8);
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.team .overlay .content{
white-space: nowrap;
margin: 20px 20px 0 20px;
}
.team .overlay .content .heading{
	font-size:21px;
	font-weight:500;
	}
	.team .overlay .content .subheading{
	font-size:12px;
	letter-spacing:.5px;
	}
	.team .overlay .content .readmore{
	font-size:13px;
	font-weight:400;
	line-height:50px;
	}
	.team .overlay .content .readmore i{font-weight:600;}
.devider-recent {
  display: block;
  border-top: 3px solid rgba(255,255,255,.6);
  width: 102px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align:left;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

/* team end */


/* brand */
.brand-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0 60px 0;
  overflow-x: hidden;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
.brand-page h1 {
  font-weight: 500;
  text-transform: none;
}
#owl-brand .item {
  margin: 10px auto;
  text-align: center;
}
/* Brand */


/* news */
.blog-news {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
  border: 0px solid rgba(0, 0, 0, 0);
}
.blog-news .date {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 9pt;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 20px 30px 20px 30px;
  background: #000;
  color: #fff;
  z-index: 1;
}
.blog-news:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.blog-news img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.blog-news .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.blog-news .hovereffect .overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -30px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-news .hovereffect:hover .overlay {
  height: 100%;
  top: 0;
  opacity: 1;
  top: 0;
}
.blog-news .hovereffect .overlay h1 {
  font-size: 24pt;
  font-weight: 500;
  letter-spacing: 2px;
  color: #333333;
  padding-top: 40%;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
}
.blog-news .hovereffect .overlay h3 {
  font-size: 9pt;
  font-weight: 500;
  letter-spacing: 4px;
  color: #333333;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}
#owl-blog .item {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
/* news end */

/* form reservation and mail */
#reservation {
    width:100%;
    height:1000px;
   /* background:rgba(255,255,255,.6);
    box-shadow: 5px 5px 2px rgba(23, 36, 52, .1);*/
    padding:45px 35px 45px 35px;
}

#map {
  width: 100%;
  height: 500px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#contact {
  width:95%;
  height:auto;
  margin-left:15px;
}

#contact input[type="text"]{ margin:0 0 20px 0;}

select.form-control, select.form-control:hover, select.form-control:focus, input[type="text"].form-control, input[type="text"].form-control:hover, input[type="text"].form-control:focus {
  border:0px solid rgba(0,0,0,.1);
  height:40px;
  background: #fbfbfb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  outline: 0 none;
}

input[type="text"]{
  text-align: left;
  width:100%;  
  border: 0px;
  font-size: 9pt;
  font-weight:400;
  letter-spacing: 0px;
  color:#555;
  border:1px solid rgba(0,0,0,.2);
  background: #fff;
  padding:8px;
  -webkit-border-radius: 4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

.form-control::-moz-placeholder{color:#555;opacity:1}.form-control:-ms-input-placeholder{color:#555}.form-control::-webkit-input-placeholder{color:#555}

input#name, input#email{width: 333px;}

input#name-contact, input#email-contact, textarea#message-contact{width: 100%;}

textarea {
  text-align: left;
  outline:none;
  width:100%;
  border:0px;
  font-size: 9pt;
  font-weight:400;
  letter-spacing: 0px;
  color:#333;
  border:1px solid rgba(0,0,0,.2);
  background: #fff;
  padding:8px;
  resize: none;
  -webkit-border-radius: 4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

input[type="text"]:focus, input[type="text"].focus, textarea:focus, textarea.focus, input[type="email"]:focus, input[type="email"].focus, email:focus, email.focus {
  background: #f8f8f8;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #555;
}

::-moz-placeholder {
  opacity: 1;
  color: #555;
} /* firefox 19+ */
:-ms-input-placeholder {
  opacity: 1;
  color: #555;
} /* ie */
input:-moz-placeholder {
  opacity: 1;
  color: #555;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-textarea-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.error {
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}
.success {
  width: 100%;
  display:none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}

.error-white {
	color:#fff;
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}
.success-white {
	color:#fff;
  width: 100%;
  display:none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}
/** contact end **/

/* address */
.wrapaddres{
	line-height:25pt;
}
.wrapaddres h3{ margin-bottom:10px;}
address span{ display:block; font-weight:300; letter-spacing:.3px;}
address span strong{ display: inline-block; width:80px; font-weight:500; }
address span a{ color:#F00;}
/* address end */

/* subscribe */
.subscribe-section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 90px 0 90px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.subscribe-section h2 {
  text-transform: none;
  font-weight: 600;
  width: 7em; 
  word-wrap: break-word;
  line-height:40pt;
}

.subwrap-tagline {	
  padding:60px;
}
.subwrap {	
  color: #333;
  min-height:290px;
  background:rgba(255,255,255,.8);
  padding:60px;
}
#subscribe .mail {
  display: none;
  visibility: hidden;
}
#subscribe input#subscribeemail {
  float:left;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  text-align:left;
  width:100%;
  height: 40px;
  margin: 10px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  border: none;
}

#subscribe input#subscribeemail[type="text"]:focus, #subscribe input#subscribeemail[type="text"].focus {
  background: #fefefe;
}
.subscribesuccess {
  float:left;	
  display: none;
  width:100%;
  font-size: 10px;
  line-height: 2;
  font-style: normal;
  text-transform: uppercase;
  text-align:center;
  font-weight: 400;
  letter-spacing: normal;
  color: #fff;
  margin: 10px auto;
  padding: 0;
  letter-spacing: 1px;
}
#subscribe .subscribeerror {
  float:left;	
  width:100%;
  font-size: 10px;
  line-height: 2;
  font-style: normal;
  text-transform: uppercase;
  text-align:center;
  color: #111;
  display: block;
  margin: 10px auto;
  padding: 0;
  letter-spacing: 1px;
}
.btn-form {
  display: block;
  float:left;
  width: 210px;
  height: 50px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 36px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff;
  outline: none;
  text-shadow: none;
  margin: 15px auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-contact {
  display: block;
  float:left;
  width: 210px;
  height: 50px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 36px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff;
  outline: none;
  text-shadow: none;
  margin: 30px auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-form:hover, .btn-contact:hover {
  background: #ffc128;
  border: 1px solid rgba(255, 255, 255, 0);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* subscribe end */


/* footer */
.subfooter{
  width: 100%;
  background: #3ab0ff;
  height: auto;
  color: #fff;
  box-shadow: 5px 5px 20px rgba(23, 36, 52, .8);
  font-weight: 300;
  text-align: left;
  padding: 90px 0 70px 0;
  margin: 0 auto;
}
.subfooter .logo {
  margin-bottom: 15px;
}
.subfooter h3 {
  font-weight: 500;
  font-size: 13pt;
  margin-bottom: 15px;
}

/* contact info */
.subfooter address span {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, .3);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  width: 270px;
}
.subfooter address span strong {
  font-weight: 500;
  display: inline-block;
}
.subfooter address span a {
  color: #eceff3;
  display: inline;
}
/* contact info end */

/* photo stream */
.flickr {
  margin-bottom: 10px;
}
#flickr-photo-stream img {
  width: 58px;
  height: auto;
  margin: 0 5px 5px 0;
  float: left;
}
#flickr-photo-stream a img {
  border: solid 2px rgba(255,255,255,.3);
}
#flickr-photo-stream a:hover img {
  border: solid 2px #ffc128;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer.white {
  background: #3ab0ff;
  color: #fff;
  font-size: 9pt;
  letter-spacing:.5px;
  font-weight: 400;
  padding: 25px 0 25px 0;
  box-shadow: 5px 5px 15px rgba(23, 36, 52, .3);
}

/* social-icons */
.social-icons {
  display: block;
  margin: 0;
}
.social-icons span {
  text-shadow: none;
  padding: 0 25px 0 0;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 9pt;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons span:hover {
  color: #ffc128;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* footer end */


/* totop */
#totop {
  display: none;
  width: 50px;
  height: 50px;
  background: #ffb600;
  line-height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#totop:hover {
  background: #555;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#totop span {
  font-size: 10pt;
  font-weight: 500;
  color: #fff;
}
/* totop end */


/* Blog & article */
#content {
  text-align: left;
}
#content p{font-weight:300;}
article {
  margin-bottom: 0;
}
article .post-heading h3 {
  margin: 20px 0 -10px 0;
  font-size: 16pt;
  font-weight: 500;
}
article .post-heading h3 a:hover {
  text-decoration: none;
}

/* post meta */
.post-meta {
  background: #fcfcfc;
  border-top: none;
  text-align: center;
}
.post-meta .format {
  border-bottom: 1px solid #333333;
  padding: 10px 0 10px;
}
.post-meta i {
  margin: 0;
}
.post-meta .date {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 10px;
}
.post-meta .date span {
  text-align: center;
  color: #efefef;
  font-size: 12px;
  font-weight: 500;
}
.post-meta .comments {
  padding: 10px 0 10px;
}
.post-meta .comments a {
  color: #efefef;
  font-size: 10px;
  font-weight: 500;
}
.post-meta .comments a:hover {
  text-decoration: none;
}

/* post format */
.post-image {
  margin-bottom: 20px;
}
ul.meta-post {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.meta-post li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}
ul.meta-post li a {
  float: left;
  font-size: 11pt;
  font-weight: 500;
  padding-top:20px;
}

/* single post */
.bottom-article {
  overflow: hidden;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bottom-article a.btn {
  width: 147px;
  height: 35px;
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  letter-spacing:1px;
  line-height: 18px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff;
  outline: none;
  text-shadow: none;
  margin: 15px auto;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bottom-article a.btn:hover {
  background: #ccc;
}

/* pagination */
#pagination a {
  font-size:9pt;
  padding: 5px 10px;
}
#pagination span {
	margin-top:0px;
}
#pagination .pagina-num {
  font-size:9pt;
  margin-right: 15px;
  margin-bottom:60px;
}
#pagination a:hover {
  color:#fff;
  background: #ccc;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#pagination a.current {
  background: #3ab0ff;
  color: #fff;
  font-weight: 500;
}
/*  Aside, sidebar */
aside {
  position: relative;
  margin-bottom: 40px;
}
.sidebar-nav {
  float: left;
  width: 100%;
}
.right-sidebar {
  margin: 0 auto;
}
.left-sidebar {
  padding: 0 30px 0 0;
}
.left-sidebar .widget h3, .left-sidebar .widget .widget-content {
  padding-right: 20px;
}
aside .widget, .widget {
  margin-bottom: 40px;
}
.widget .recent div {
  margin-bottom: 20px;
  display: inline-block;
}
.widget .recent div img {
  float: left;
  padding-right: 10px;
}
.widget .recent div h6 {
  font-size: 14px;
  font-weight: 500;
  margin-top:0px;
}
.widget .recent div p {
  line-height:normal;
}
.widget .tags {
  margin: 0;
  margin-left: 0;
  padding-left: 0;
}
.widget .tags div {
  margin: 5px 5px 15px 0;
  display: inline-block;
}
.widget .tags div a {
  border: 1px solid #999;
  padding: 5px 10px;
  text-align: center;
}
.widget .tags div a:hover {
  text-decoration: none;
  border: 1px solid #ccc;
}
.devider-widget {
  display: block;
  border-bottom: 2px solid #3ab0ff;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 60px;
  text-align: left;
}
/* Blog & article end */

/* Blog comment */
#blog-comment {
  margin: 0;
  padding: 0;
/*  color:none;*/
}
#blog-comment h5 {
  font-size: 13pt;
  margin-bottom: 10px;
}
#blog-comment ul, #blog-comment li {
  list-style: none;
  padding-left: 0;
}
#blog-comment li {
  min-height: 70px;
/*  padding-bottom: 10px;*/
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ccc;
}
#blog-comment li .avatar {
  position: absolute;
  margin-top: 5px;
}
#blog-comment .comment {
  /*color: #939393;*/
  font-size:13px;
  font-weight:300;
  margin-left: 85px;
}
#blog-comment li {
  min-height: 70px;
  font-size: 14px;
  line-height: 1.6em;
}
#blog-comment li li {
  margin-left: 80px;
  padding-bottom: 0px;
  margin-top: 20px;
  border-top: solid 1px #ccc;
  padding-top: 10px;
  border-bottom: none;
}
#blog-comment li li .avatar {
  position: absolute;
}
.comment-info {
  margin-left: 85px;
  padding-top: 2px;
  margin-bottom: 5px;
}
.comment-info .c-name {
  font-size:12pt;	
  display: block;
  font-weight: 500;
  line-height:normal;
  margin-bottom:5px;
}
.comment-info .c-reply {
  display:inline-block;
  padding-left: 10px;
  margin-left: 10px;
  font-weight: 300;
  border-left: solid 1px #ccc;
}
.comment-info .c-reply a {
  font-weight: 300;	
  font-size: 10pt;
}
.comment-info .c-date {
  display:inline;	
  font-size: 10pt;
  font-weight: 300;
}

/* comment form */
#comment-form-wrapper h5{ font-size:10pt; letter-spacing:.1px;}
#comment-form-wrapper {
  margin: 50px 0 50px 0;
  padding: 0;
}
#commentform input {
  width: 100%;
  font-size: 10pt;
  padding: 10px;
  margin:5px 0 5px 0;
  height: 40px;
  letter-spacing:0;
   border-bottom: 1px solid #c3c3c3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}
#commentform input:focus {
	 background:rgba(0,0,0,0);
     border: 1px solid #959595;
}
#commentform textarea {
  width: 100%;
  font-size: 10pt;
  padding: 10px;
  margin:5px 0 5px 0;
  height: 150px;
  letter-spacing:0;
}
#commentform textarea:focus {
	  background:rgba(0,0,0,0);
      border: 1px solid #959595;
}
#commentform button.btn {
  width: 210px;
  height: 50px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 36px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #3bb0ff;
  outline: none;
  text-shadow: none;
  margin: 15px auto;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#commentform button.btn:hover {
  background: #ffc128;
}
/* Blog comment end */


/*
  Owl Carousel 
*/

.owl-theme .owl-controls .owl-buttons div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

/* owl slider home */
#owl-slider-home .item {
  display: block;
  width: 100%;
}
#owl-slider-home .item{
	width:100%; height:100%; min-height:700px; background-size:cover; background-position:center center; background-repeat:no-repeat;
}
#bar {
  width: 0;
  max-width: 100%;
  height: 2px;
  background: #ffc128;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
#progressBar {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* button */
#owl-gal .item {
  display: block;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 10px 17px;
  background: rgba(0, 0, 0, 1);
}
.owl-theme .owl-buttons i {
  margin-top: 2px;
  font-size: 12pt;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  z-index: 9;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  top: 50%;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 50%;
}
.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}


/* Magnific Popup CSS */
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:10421;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{z-index:10431;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:10451}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:10441}.mfp-preloader a{color:#ccc}.mfp-close,.mfp-preloader a:hover{color:#efefef}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:10461;-webkit-box-shadow:none;box-shadow:none}.mfp-figure:after,.mfp-iframe-scaler iframe{box-shadow:0 0 8px rgba(23,36,52,.6);position:absolute;left:0}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;font-style:normal;font-size:38px;font-family:Arial,Baskerville,monospace;}.mfp-close:focus,.mfp-close:hover{opacity:1;}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#efefef}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#efefef;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#efefef;font-size:12px;line-height:18px}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #efefef;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #efefef;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{display:block;top:0;width:100%;height:100%;background:#efefef}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{top:40px;bottom:40px;right:0;z-index:-1;background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(23,36,52,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(23,36,52,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0;}.image-source-link{color:#98C3D1}.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}.mfp-with-zoom.mfp-ready.mfp-bg{opacity:.8}.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0}
/* end Magnific Popup CSS */

/* general popup */
.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.gray-popup-block {
  max-width: 900px;
  margin: 0 auto;
  background: #22252f;
  padding: 40px;
  text-align: center;
}
.gray-popup-block h3 {
  font-size: 34pt;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}
.gray-popup-block p {
  font-size: 11pt;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}
html {
  margin-right: 0 !important;
  overflow: visible !important;
}


/**Customized**/
.logo img {
    max-width: 150px;
}
.movie-card {
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 325px;
  margin: 2em;
  border-radius: 10px;
  display: inline-block;
}

.movie-header {
  padding: 0;
  margin: 0;
  height: 250px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.manOfSteel {
  resize: both;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: auto;
  max-height: initial;
}
.header-icon-container {
  position: relative;
}

.header-icon {
  width: 100%;
  height: 367px;
  line-height: 367px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #ffffff;
  font-size: 54px;
  text-shadow: 0 0 20px #6abcea, 0 5px 20px #6ABCEA;
  opacity: .85;
}

.header-icon:hover {
  background: rgba(0, 0, 0, 0.15);
  font-size: 74px;
  text-shadow: 0 0 20px #6abcea, 0 5px 30px #6ABCEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}

.movie-card:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.movie-content {
  padding: 5px 10px 10px 10px;
  margin: 0;
}
.movie-content-header, .movie-info, .movie-content-footer {
  display: table;
  width: 100%;
}

.movie-title {
  font-size: 24px;
  margin: 0;
  display: table-cell;
}

.imax-logo {
  max-width: 100px;
  height: 15px;
  background-size: contain;
  display: table-cell;
  float: right;
  position: relative;
  margin-top: 5px;
}

.movie-info {
  margin-top: 1em;
}
 /* display: table-cell;
  text-transform: uppercase;
  text-align: center;
}
*/
.info-section:first-of-type {
  text-align: left;
}

.info-section:last-of-type {
  text-align: right;
}

.info-section label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}


.info-section span {
  font-weight: 700;
  font-size: 11px;
}

.movie-content-footer > label{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5em;
  font-size: 9px;
}
.stats {
    border-top: 1px solid #ebeff2;
    background: #f7f8fa;
    overflow: auto;
    padding: 15px 0;
    font-size: 16px;
    color: #59687f;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
}
.stats div {
    border-right: 1px solid #ebeff2;
    width: 33.33333%;
    float: left;
    text-align: center;
}
.stats strong {
    display: block;
    color: #adb8c2;
    font-size: 11px;
    font-weight: 700;
}
.card-label-rounded {
    border-radius: 10px 0px 10px 0px;
    background: #ED991C;
    max-width: 120px;
    max-height: 100px;
    margin-top: 0;
}
.card-label {
    font-size: 14px;
    margin-bottom: 0px;
    padding: 10px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 100%;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255, 255, 255, 0.75);
    width:100%;
    min-height:250px;
    padding:100px;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.date-panel{
    padding-right: 30px;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #e7e7e7;
    margin-left: -15px;
}
.month-type{
  color: #ed991c;
  font-size: 11px;
  margin-bottom: 0;
}
.date-type{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}
.day-type {
    color: #000;
    font-size: 11px;
    margin-bottom: 0;
}
.card-title {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    color: #000;
}
.location {
    color: #89959b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
.card-label-rounded.expired {
    background: #e22f1d;
}
.init.show .mt-20{

  margin-top: 20px;

}
.card {
    border: 0px;
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.btn-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    border: 0px;
}
.spacer {
    padding: 90px 0;
}
html body .p-r-40 {
    padding-right: 40px;
}
.title {
    margin: 0;
}
h3 {
    line-height: 30px;
    font-size: 24px;
}
.bg-info {
    background-color: #188ef4 !important;
}
html body .m-t-30 {
    margin-top: 30px;
}
.op-8 {
    opacity: 0.8;
}
.m-0 {
    margin: 0!important;
}
html body .p-40 {
    padding: 40px;
}
h5 {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
}


.quick-search-container {
    /*background-color: #edf1f4;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px;
    overflow-x: auto;
}
.card-deck{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-display: flex;
    margin: auto;
}
.card_bg{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    border-radius: 6px;
    box-sizing: border-box;
    min-width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
}
.card, .card_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    border-radius: 6px;
    box-sizing: border-box;
    min-width: 150px;
    width: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    /*border-bottom: 1px solid rgba(0,0,0,.125);*/
}
.card-body a{
    color: #33373d;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
a{
    cursor: pointer;
}

.card-text{
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 14px;
    font-family: robotomedium;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    display: -webkit-box;
}
.card-text img {
    width: 100%;
}
.card-text .text_prop{
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 14px;
    font-family: robotomedium;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    display: -webkit-box;
}
header.init.event {
    background: rgba(255, 255, 255, 1)!important;
}
form.side-by-side {
    margin: 10px;
    padding: 10px;
}
form.cart.side-by-side {
    margin: 5px;
    padding: 5px;
}
span.text-dark {
    line-height: 40px;
}
/*#main-menu.white.event {
    position: absolute;
    right: 0px;
    width: 25%;
    height: 100%;
    background: #fff;
    z-index: 1;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
}*/
.white.event a {
    color: #707070;
    line-height: 25px;
    padding: 5px 0px 0px 5px;
}
.white.event nav ul ul{

  top:30px;
}
.sticky .white.event nav ul{

  margin-top: 20px;
}
.sticky .top-nav.event{

  margin-top: 20px;
}
img.panel-profile-img{
    max-width: 150px;
    margin-top: -40px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    /* border-radius: 100%; */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #000;
}
.img-xs{

  max-width: 85px;
  height: 85px;
  opacity: 0.7;
  background-color: #F7F8FA;
}
.mt-20{

  margin-top: 20px;
}
.pt-80{

  padding-top: 80px;
}
.text-white{

  color: #fff;
}
.navbar-fixed-top .navbar-brand{

  padding: 0px 15px;
}
.navbar-fixed-top.sticky .navbar-brand{

  padding: 15px 15px;
}
.m-b-15{

  margin-bottom: 15px;
}
@media (min-width: 768px){

  .quick-search-container{
      margin-bottom: 15px;
  }
  .card {
      min-width: 155px;
      padding: 15px;
  }
    .card, .card_bg {
        min-width: 240px;
    }
  .card-text{
      font-size: 1px;
  }
  .card-text .text_prop{
    font-size: 16px;
  }
  /*.col-md-offset-1.col-md-8.event {
    margin: 60px 15px 0px 15px;
    padding: 60px 15px 0px 15px;
  }*/
}