@media only screen and (max-width: 1199px) {
  .navbar-brand.white img.black { display:block; }
  .navbar-brand.white img.white { display:none; }
  .subnav {
  display:none;
  z-index:0;
  }
  header.show{
	height:80px;
	background: rgba(255, 255, 255, 0)!important;
  }
  nav ul li.space {
    display: none;
  }
  .overlay-main {
    top: 0px;
  }
  .navbar-toggle {
    display: block;
    position: fixed;
    right: 7px;
    top: 15px;
    z-index: 9999;
  }
  .navbar-toggle:hover {
    border: 1px solid #999;
  }
  
.navbar-default-white .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: left; /* Move navbar toggle to left */
}
.navbar-default-white .navbar-toggle .icon-bar {
  background-color: rgba(0,0,0,1); /* Changes regular toggle color */
}
.navbar-default-white .navbar-toggle .icon-bar:hover {
  background-color: rgba(0,0,0,1); /* Changes toggle color on hover */
}
  /* menu block white */
  .navbar-default-white {
	position:fixed;
	margin: 0px auto;
    border-bottom: 0px groove rgba(255, 255, 255, 0);
    top: 0px;
	background: rgba(255, 255, 255, 1);
  }
  .navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  height:75px;
  }
  .navbar-brand.white {
	position:fixed;
    left: 10px;
    top: 0px;
  }

  .navbar-brand.white img {
    width: auto;
	height: auto;
	max-height:40px!important;
  }

  #main-menu.white {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
  }
  .menu-init {
    opacity: 1;
    top: -100%;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  .menu-show {
    opacity: 1;
    top: 0px;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  .white nav {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    float: none;
    left: 20px;
    top: 0px;
    z-index: 999;
  }
  .white nav ul li, .white nav ul li.btn {
    display: block;
    margin: 0 0 0 0;
    margin-right: 15px;
    text-align: left;
    background: rgba(0, 0, 0, 0);
  }
  .white nav ul li.btn {
    padding: 0px 0px 0px 0px;
    padding: 10px;
    margin-right: 15px;
  }
 .white nav ul li.btn:hover {
    color: #ff6600;
    background: rgba(0, 0, 0, 0);
  }
 .white nav ul li.btn a:hover {
    color: #ff6600;
  }
 .white nav a {
    display: block;
    padding: 10px;
    line-height: 30px;
	color: #707070;
  }
 .white nav ul ul {
    position: relative;
    top: 0px;
    margin-left: 15px;
  }
 .white nav ul ul li {
    background: rgba(21, 23, 29, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul ul li {
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul li a {
    line-height: 20px;
    font-weight: 400;
    font-size: 8pt;
  }
  .white nav ul li .input-group {
  margin-left:0px;
  margin-right:30px;
  }
  /*menu block white end*/
  
  .mainbg {
    background-attachment: scroll;
  }
  .bgslider img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
  }
  .blog-news .hovereffect .overlay h1 {
    font-size: 14pt;
  }
  .blog-news .hovereffect .overlay h3 {
    font-size: 8pt;
  }
  .bot-home, .bot-home-text {
    /*position: relative;*/
	top:65%;
	margin-top:0px;
  }
  #reservation { padding:5%; }
  #spacer {
    display: none;
  }
  
/****** revolution slider queries *****/
.big-heading{
font-size: 40pt;
}
.sub-heading{
font-size: 30pt;
}

.subwrap, .subwrap-tagline{ padding:20px; margin-left:20px; margin-right:20px; margin-bottom:20px;}

/****** revolution slider queries end *****/
li a.btn-book-menu { margin-left:0px; padding:2px 0 4px 20px; }
}
@media only screen and (max-width: 980px) {
  .btn-content {
    margin-top: 20px;
  }
  .step-main a {
    margin-bottom: 20px;
  }
  .step-main:after {
    display: none;
  }
  .devider-img-right {
    top: -2px;
  }
  .devider-img-left {
    top: -2px;
  }
  #services-list {
    margin-top: 30px;
  }
  .detaillist {
    margin-top: 30px;
  }
  .subfooter p{ margin-bottom:30px;}
  .subwrap {	
  min-height:350px;
  }
}
@media only screen and (max-width: 800px) {
  .space-single-mobile {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
  }
  .space-double-mobile {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
  }
  .bgpage{ background:none; padding-top:0px !important; }
  #reservation {
    margin-top:60px;
    background: none !important;
    box-shadow: 0px 0px 0px transparent;
  }
}
@media only screen and (max-width: 768px) {
  .team-wrapper {
    margin: 60px 0 0 0;
  }
  .subfooter h3 {
    margin-top: 30px;
  }
  #contact {
    padding: 0 10px 0 10px;
  }
  #contact {
  margin-left:0px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-brand {
    left: 15px;
  }
  .subfooter p{ margin-bottom:0px;}
  .subwrap {	
  min-height:330px;
  }
  .btn-content{

    display: block;
    width: 120px;
    height: 40px;
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    line-height: 0px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    background: #3bb0ff;
    outline: none;
    text-shadow: none;
    margin: 0 auto;
    cursor: pointer;  
  }
  .form-group{

    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media(max-width:500px){
  .bot-home, .bot-home-text {
    position: absolute;
    top:33%;
    margin-top:0px;
}
}
@media(max-width:414px) {
  section {
    padding: 90px 0 90px 0;
  }
  .navbar-default {
    border-bottom: 1px groove rgba(255, 255, 255, 0);
  }
  .navbar-brand {
    left: 5px;
  }
  .navbar-brand.white {
    left: 5px;
  }
  #owl-slider-home img {
    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  #home h1 {
    font-size: 26pt;
    letter-spacing: 1px;
  }
  #home h3 {
    font-size: 16pt;
    letter-spacing: 1px;
    line-height: 34pt;
  }
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 18pt;
  }
  h4 {
    font-size: 16pt;
  }
  h5 {
    font-size: 14pt;
  }
  h6 {
    font-size: 12pt;
  }
  p {
    font-size: 12px;
  }
  #service-about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .img-about{ display:none;}
  .service-about {
    margin: 0;
  }
  .social-icons {
    margin-top: 10px;
  }
  .right {
    text-align: left;
    float: left;
  }
  aside .widget {
    margin-top: 40px;
  }
#subheader h1{
  margin-top: 115px;
}
.movie-card.club {
    /* min-width: 310px; */
    margin-left: 18px;
} 
.movie-card.old, .movie-card.new {
    max-width: 285px;
}
/****** revolution slider queries *****/
.big-heading{
font-size: 52pt;
}
.sub-heading{
font-size: 62pt;
}
.btn-slider { margin-top:10px; }
/****** revolution slider queries end *****/

#reservation {
  padding: 8% 5% 0 5%;
  margin-top: 45px;
}
.card, .card_bg{
  min-width: 100px;
}
.card-text img{
  width: 75%;
}
.m-15{
  margin: 15px;
}
.whitepage h4{
  text-align: center;
}
.m-center{

  text-align: center;
}
.recent-post .overlay .content{
margin: 65% 20px 0 20px;
}

.p-30{ padding:10px;}
.p-60{ padding:20px;}
.p-90{ padding:30px;}
  .btn-content{

    margin-bottom: 20px;
  }

}
@media(max-width:360px) {
  #home h1 {
    font-size: 24pt;
    margin-top: 60px;
  }
  #home h3 {
    font-size: 24pt;
  }
  #home p {
    font-size: 9pt;
  }
  .recent-post .overlay .content{
margin: 70% 20px 0 20px;
}

}
@media(max-width:320px) {
  #home h1 {
    font-size: 22pt;
    letter-spacing: 1px;
  }
/****** revolution slider queries *****/
.big-heading{
font-size: 43pt;
}
.sub-heading{
font-size: 60pt;
}

/****** revolution slider queries end *****/
}