.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}
@media screen and (max-width: 500px) {
	/* all section */
	section {
		padding: 90px 0 90px 0 !important
	}
	/* display none items */
	.navbar_ button,
	.subfooter,
	footer,
	.tabs-nav .menu {
		display: none
	}
	/* nav bar icon */
	.navbar_ img,
	.navbar-brand.white img {
		margin: 0 auto;
		width: 120px !important;
		max-height: 60px !important;
	}
	.navbar_ a,
	.navbar-brand.white {
		width: 100%;
		text-align: center;
		padding: 8px;
	}
	/* reservation */
	.bot-home-text .container {
		padding: 0
	}
	/* tabs bar */
	.tabs-nav {
		display: block !important;
		position: fixed;
		bottom: 0;
		z-index: 99999999999;
		background-color: #fff;
		width: 100%;
		padding: 15px 0px 15px 30px;
		text-align: center;
		font-size: 25px;
		color: #fff;
		left: 0;
		box-shadow: 0px 1px 7px #3e3d3d;
	}
	.tabs-nav.org{

		padding: 15px 0px 15px 0px;
	}

	.tabs-nav li {
		position: relative;
		/*width: 1%;*/
		display: table-cell;
	}
	.tabs-nav.org li{

		width: 1%;
	}
	.tabs-nav ul {
		margin: 0 !important;
		padding: 0 !important
	}
	.tabs-nav a {
		color: #23282D
	}
	.tabs-nav span {
		padding: 0;
		background-color: red;
		font-size: 14px;
		position: absolute;
		font-weight: 600;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: -2px;
		right: 3px;
	}
	.tabs-nav .menu {
		bottom: 50px;
		background-color: currentColor;
		padding: 23px;
		width: 146px;
		box-shadow: 0px 0px 1px #818181;
		border-radius: 10px 10px 0px 0px;
		position: absolute;
	}
	.tabs-nav .menu a {
		width: 100%;
		float: left;
		font-size: 20px;
		padding: 6px;
		text-align: left
	}
	.tabs-nav .menu hr {
		margin: 0;
	}
	/* Back to Top */
	#totop {
		bottom: 77px !important
	}
	/* Public */
	.movie-card {
		/*width: 95%;
		max-width: 95%*/;
		margin: 1em;
		display: block;
	}
	.movie-card.org{
		display: block;
	    margin-bottom: 90px;
	    max-width: 90%;
		
	}
	.white nav {
		margin-top: 30px !important;
	}
	.white.event nav ul ul {
		top: 0;
	}
	.white nav ul li,
	.white nav ul li.btn {
		margin: 10px 0 0 0;
	}
	.manOfSteel {
		min-height: 95px;
		max-height: -webkit-fill-available;
	}
	.caption {
		padding: 30px;
	}
	.card-label {
		padding: 6px 10px;
		line-height: 12px;
		font-size: 90%;
	}
	.card-label-rounded {
		max-width: 100px;
	}
	.stats {
		padding: 0px 0;
		font-size: 12px;
	}
	.owl-carousel {
		height: 450px; /*350px*/
	}
	.owl-prev,
	.owl-next {
		top: 53% !important; /*60%*/
	}
	.overlay-main {
		top: -124px !important
	}
	#home h1 {
		font-size: 19pt !important;
	}
	#home h3 {
		font-size: 15pt !important;
	}
	.room-detail {
		padding-top: 0 !important
	}
	.room-detail .detaillist {
		margin-top: -30%;
		background-color: #fff;
		box-shadow: 0px 0px 10px #9e9e9e;
		border-radius: 4px;
	}
	.carousel {
		text-align: center;
		margin: 0 auto
	}
	.card-body {
		padding: 0 !important;
	}
	.card {
		overflow: hidden !important
	}
}